.social {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-left: 0;
}

.line {
    width: auto;
}

.soc {
    display: none;
}

.mini_phone {
    margin-top: 7px;
    width: 33px;
}